@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

:root {
  --color-primary: #004E64;
  --color-secondary: #25A18E;
  --color-accent: #00A5CF;
  --color-neutral: #2a323c;
  --color-base-100: #1d232a;
  --color-info: #9FFFCB;
  --color-success: #36d399;
  --color-warning: #ec4899;
  --color-error: #9f1239;
  background-image: url(./images/background-image.png);

  font-family: Roboto;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary);
  cursor: pointer;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(./images/background-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Libre Baskerville', serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#login {
  position: relative;
  background-image: url(./images/background-image.png);
}

#login-button:hover {
  background-color: var(--color-primary);
}


/*==============================================================
Questionnaire
===============================================================*/

.questionnaire-form-modal {
  align-items: center;
  cursor: default;
  display: flex;
  justify-content: center;
  padding: 5% 0%;
}

.questionnaire-form-content {
  background-color: var(--color-secondary);
  border-radius: 3%;
  width: 50vw;
}

.questionnaire-form-title,
.questionnaire-form-subtitle {
  margin: 0;
  color: white;
}

.questionnaire-form-header,
.questionnaire-form-footer {
  display: flex;
  justify-content: center;
  padding: 0.6em;
}

.questionnaire-form-header {
  border-bottom: 0.06em solid white;
}

.questionnaire-body-header {
  display: flex;
  justify-content: center;
}

.questionnaire-form-hobby {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.questionnaire-form-footer {
  border-top: 0.06em solid white;
}

.questionnaire-form-body {
  padding: 0.6em;
}

.questionnaire-form-input {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5% 15%;
}

.questionnaire-form-input h6 {
  color: white;
  margin-right: 1em;
}

.questionnaire-form-modal button{
  background-color: var(--color-accent);
  color: white;
}

.questionnaire-form-input button {
  color: white;
  margin-left: 1em;
}

.address-input {
  margin-left: 1em;
}


.tag {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

.tag:hover {
  border-color: #646cff;
}

/*==============================================================
Profile
===============================================================*/

.profile-banner {
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-evenly;
  width: 100%;
}

.profile-info {
  position: fixed;
}

.avatar {
  margin-left: 1.5%;
}

.profile-content {
  display: flex;
  margin: 5%;
}

.profile-container {
  color: white;
  padding-bottom: 1px;
}

.profile-sidebar {
  background-color: rgba(0, 166, 207, 0.5);
  border-radius: 3%;
  /* height: 1%; */
  padding: 1%;
  width: 25%;
}

.profile-header-container {
  background-color: rgba(37, 161, 142, 0.7);
  border-radius: 3%;
  padding: 10%;
}

.profile-header {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.profile-related {
  background-color: rgba(37, 161, 142, 0.7);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 10%;
}

.profile-hobbies {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
  padding: 5%;
}

.profile-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.profile-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-discover-button {
  background-color: var(--color-accent);
  font-size: 0.75em;
  padding: 5%;
}

.edit-profile-button {
  background-color: white;
  color: var(--color-base-100);
  font-size: 0.75em;
  margin-top: 5%;
  padding: 2%;
}

.edit-profile-modal {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
}

.edit-input {
  display: flex;
  justify-content: space-around;
}

.edit-input input{
  margin-left: 2em;
}

.profile-feed {
  align-items: center;
  border-radius: 3%;
  background-color: rgba(0, 166, 207, 0.5);
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  padding: 1%;
  width: 75%;
}

.profile-feed-header {
  background-color: var(--color-secondary);
  border-radius: 3%;
  margin-bottom: 2%;
  padding: 5%;
  width: 100%;
}

.profile-feed-header h4{
  display: flex;
  font-size: 2.5em;
  justify-content: center;
}

.feed-post {
  align-items: center;
  background-color: rgba(37, 161, 142, 0.7);
  border-radius: 3%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
  padding: 2.5% 2.5% 2.5% 0%;
}

.feed-post li{
  background-color: var(--color-secondary);
  border-radius: 3%;
  margin: 0% 5%;
  padding: 2%;
  text-align: center;
}

.feed-image {
  border-radius: 3%;
  height: 35%;
  width: 35%;
}


/*==============================================================
NavBar
===============================================================*/

.navbar {
  background-color: rgba(37, 161, 142, 0.838);
  color:#1a1a1a;

}

/*==============================================================
Discover Mode
===============================================================*/
.friend-hobbies {
  border-radius: 10px;
  height: 65%;
  width: 125%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: rgb(0, 78, 100, 0.6);
  box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.10);
}

#discover-photos {
  display: flex;
  margin-left: 12%;
  width: 20%;
  height: 15%;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 800px;
  height: 425px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-color: var(--color-secondary);
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin-top: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: var(--color-accent);
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
  background-color: var(--color-warning);
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

#zip-dropdown {
  background-color: var(--color-accent);
  margin: 5px;
}

#dropdown-options {
  background-color: var(--color-accent);
  display: flex;
  align-content: center;
}
/*==============================================================
FriendCircle
===============================================================*/

#fc-sub-container {
  height: 80vh;
  width: 90%;
}

#fc-calendar-messages {
  background-color: rgb(0,165,207, 0.6);
  border-radius: 10px;
  height: 600px;
  width: 540px;
}

#fc-calendar {
  height: 600px;
  width: 600px;
  overflow: auto;
  margin: 2%;
}

#fc-browser-container {
  width: 1000px;
  height: 600px;
  background-color: rgb(0,165,207, 0.6);
  overflow: auto;
  border-radius: 10px;
}

#fc-circle-messages {
  height: 300px;
  width: 400px;
  overflow: auto;
}

#browser-btn {
  color: white;
}
#browser-btn:hover {
  background-color: var(--color-success);
}

.tab {
  color: white
}